@import './utils/vars';
@import './utils/mixins';
@import './utils/globals';

@import './components/mobile-menu';
@import './components/advantages';
@import './components/button';
@import './components/card';
@import './components/checkbox';
@import './components/clients';
@import './components/contact';
@import './components/hero';
@import './components/modal';
@import './components/navigation';
@import './components/offer';
@import './components/page-footer';
@import './components/portfolio';
@import './components/product';
@import './components/team';
@import './components/page-header';