.clients {
    background-color: $brand-color-white;
    padding-bottom: 94px;
    display: none;
    
    &__title {
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 50px;
    }
    &__list {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        fill: #AFB1B8;
        gap: 30px;
    }
    &__icons {
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        width: 170px;
        height: 92px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: border-color, fill;

        &:is(:hover, :focus) {
                fill: $brand-color-blue;
                border: 1px solid $brand-color-blue;
                cursor: pointer;
            }
    }
}