.clients {
    background-color: $brand-color-white;
    
    
    &__title {
        font-size: 28px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 50px;

        @include desktop {
            font-size: 36px;
        }
    }
    &__list {
        list-style: none;
        fill: #AFB1B8;
        gap: 30px;
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
        

        @include tablet {
                flex-direction: row;
                flex-wrap: wrap;
            }
        
        @include desktop {
                flex-wrap: nowrap;
                display: flex;
                align-items: center;
                justify-content: center;
            }
    }
    &__icons {
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        width: 170px;
        height: 92px;
        flex-direction: row;
        flex-wrap: wrap;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: border-color, fill;

        @include tablet {
            max-width: 226px;
        }

        @include desktop {
            max-width: 170px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:is(:hover, :focus) {
                fill: $brand-color-blue;
                border: 1px solid $brand-color-blue;
                cursor: pointer;
            }
    }
}