.hero {
    background-color: $brand-color-background;
    padding: 0px;
    
    
    
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 1600px;
        background: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
        background-repeat: no-repeat;
        margin: 0 auto;
    }
    &__title {
        font-style: normal;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $brand-color-white;
        max-width: 696px;
        height: 120px;
        left: 452px;
        top: 280px;
    }
    &__button {
        font-family: 'Roboto';
        cursor: pointer;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        text-align: center;
        text-decoration: none;
        letter-spacing: 0.03em;
        color: $brand-color-white;
        background-color: $brand-color-blue;
        border-radius: 4px;
        border: none;
        display: inline-block;
        width: 200px;
        height: 50px;
        padding: 10px 41px;
    }
    &__button-open {}
    &__backdrop {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: opacity, visibility;
    }
    &__is-hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }
    &__modal-button {
        position: absolute;
        width: 528px;
        height: 581px;
        left: 50%;
        top: 50%;
        background: var(--brand-color-white);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transform: translate(-50%, -50%) scale(1);
    }
    &__button-close {
        position: absolute;
        top: 8px;
        right: 8px;
        fill: var(--brand-color-black);
        display: flex;
        border-radius: 50%;
        padding: 6px;
        cursor: pointer;
        background: var(--brand-color-white);
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
}

.entry__button:focus {
    color: var(--brand-color-white);
    background-color: var(--brand-color-blue);
}

.entry__button-open:hover {
    color: var(--brand-color-white);
    background-color: var(--brand-color-blue);
}

.entry__is-hidden .entry__modal-button {
    transform: translate(-50%, -50%) scale(0);
}