.menu-container {
    position: fixed;
    background-color: $brand-color-white;
    inset: 0;

    &__close-button {
        position: absolute;
        top: 8px;
        right: 8px;
        background-color: transparent;
        border: none;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: fill;

        &:is(:hover, :focus) {
            fill: $brand-color-blue;
            cursor: pointer;
        }
    }
}