.menu-container {
    position: fixed;
    background-color: $brand-color-white;
    inset: 0;

    &__close-button {
        position: absolute;
        top: 8px;
        right: 8px;
        background-color: transparent;
        border: none;
    }
}