.modal {
    padding: 40px;
    width: 100%;
    max-width: 528px;
    position: relative;
    height: 581px;
    background: $brand-color-white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .12), 0px 1px 1px rgba(0, 0, 0, .14), 0px 2px 1px rgba(0, 0, 0, .2);
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    is-hidden {
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
            transition-delay: 400ms;
            }

    &__input-wrapper {
            position: relative;
        }
    
    &__icons {
            position: absolute;
            top: 11px;
            left: 12px;
        }
    
    &__input:is(:hover, :focus)+.modal__icons {
            fill: $brand-color-blue;
        }

    &__button-close {
            position: absolute;
            top: 8px;
            right: 8px;
            fill: $brand-color-black;
            display: flex;
            border-radius: 50%;
            cursor: pointer;
            background: $brand-color-white;
            border: 1px solid rgba(0, 0, 0, 0.1);
            justify-content: center;
            align-items: center;
        }

    &__title {
        width: 448px;
        height: 23px;
        left: 576px;
        top: 261px;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        color: $brand-color-black;
    }
    &__form {
        position: relative;
    }
    &__label {
        box-sizing: border-box;
        width: 448px;
        height: 40px;
        border-radius: 4px;
        align-items: center;
        padding-bottom: 4px;
        border: none;
        transition-property: color, background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: $brand-color-text-grey;
    }
    &__input {
        box-sizing: border-box;
        width: 448px;
        height: 40px;
        left: 576px;
        top: 314px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        display: inline-flex;
        margin-bottom: 10px;
        margin-top: 4px;
        padding-left: 42px;
        transition-property: border-color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:is(:hover, :focus-within) {
                border: 1px solid $brand-color-blue;
            }
        &:is(:hover, :focus) {
                fill: $brand-color-blue;
            }
    }
    &__icons {
        position: absolute;
        width: 18px;
        height: 18px;
        margin-top: 4px;
        transition-property: border-color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:is(:hover, :focus) {
            fill: $brand-color-blue;
        }
    }

    &__label-text {
        box-sizing: border-box;
        width: 448px;
        height: 120px;
        left: 576px;
        top: 518px;
        border: none;
        border-radius: 4px;
        align-items: center;
    }

        &__textarea {
            border: none;
            outline: none;
        }

    &__textarea {
        box-sizing: border-box;
        width: 448px;
        height: 120px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        display: flex;
        align-items: center;
        padding: 12px 16px;
        margin-top: 4px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        transition-property: border-color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:is(:hover, :focus-within) {
                border: 1px solid $brand-color-blue;
            }
        &:is(:hover, :focus) {
                fill: $brand-color-blue;
            }

        &__textarea {
                border: none;
                outline: none;
            }

        
    }

}
.backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition-delay: 400ms;
}

.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}




.modal__button-close {
    position: absolute;
    right: 8px;
    top: 8px;
    fill: #212121;
    display: flex;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .1);
}


