.page-header {
    background-color: var(--brand-color-white);
    padding-top: 24px;
    padding-bottom: 25px;
    display: none;
    
    &__header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    &__logo-top {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: $brand-color-black;
        flex-direction: row;
        margin-right: 93px;
    }
    &__text {
        text-decoration: none;
    }
    &__logo {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: $brand-color-blue;
    }
}